.table-holder {
  position: relative;
  width: 500px;
  height: 330px;
  border: 1px solid grey;
  overflow: hidden;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
}
table {
  width: 100%;
}
table th {
  padding: 8px;
  background-color: #dedede;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  font-weight: normal;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}
