.userInfo{
  position: relative;
  border: 1px solid grey;
  width: 200px;
  height: 160px;
  padding: 10px;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
}
input{
  width: 190px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header{
  background-color: #dedede;
  height: 30px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin-bottom: 5px;
}
